.messages {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    border: 1px solid gray;
    margin: 0 auto;
    overflow: scroll;
}

.user-message {
    align-self: flex-end;
}

.just-message {
    float: left;
}

.chat-form {
    text-align: center;
}